- name: Conifgure cluster.name key in elasticsearch.yaml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^cluster.name:'
    line: 'cluster.name: {{ cluster_name }}'

- name: Conifgure node.name key in elasticsearch.yaml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^node.name:'
    line: 'node.name: {{ node_name }}'

- name: Conifgure discovery.type key in elasticsearch.yaml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^discovery.type:'
    line: 'discovery.type: {{ discovery_type }}'
  notify: Restart elasticsearch