- name: Conifgure cluster.name key in elasticsearch.yaml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^cluster.name:'
    line: 'cluster.name: {{ cluster_name }}'
  when: not ansible_check_mode

- name: Conifgure node.name key in elasticsearch.yaml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^node.name:'
    line: 'node.name: {{ node_name }}'
  notify: Restart elasticsearch
  when: not ansible_check_mode