- name: Conifgure cluster.name key in elasticsearch.yml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^cluster.name:'
    line: 'cluster.name: {{ cluster_name }}'
  when: not ansible_check_mode

- name: Conifgure node.name key in elasticsearch.yml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^node.name:'
    line: 'node.name: {{ node_name }}'
  when: not ansible_check_mode

- name: Conifgure network.host key in elasticsearch.yml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^network.host:'
    line: 'network.host: {{ network_host }}'
  when: not ansible_check_mode

- name: Conifgure discovery.type key in elasticsearch.yml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    regexp: '^discovery.type:'
    line: 'discovery.type: {{ discovery_type }}'
  when: not ansible_check_mode

- name: Remove cluster.initial_master_nodes key in elasticsearch.yml
  ansible.builtin.lineinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    regexp: '^cluster.initial_master_nodes:'
    state: absent
  notify: Restart elasticsearch
  when: not ansible_check_mode