- name: Conifgure elasticsearch.yaml
  ansible.builtin.blockinfile:
    path: /etc/elasticsearch/elasticsearch.yml
    state: present
    backup: true
    block: |
      cluster.name: {{ cluster_name }}
      node.name: {{ node_name }}
      discovery.type: {{ discovery_type }}
  notify: Restart elasticsearch