- name: Conifgure elasticsearch.yaml
  ansible.builtin.template:
    src: roles/elasticsearch/templates/elasticsearch-yaml.j2
    dest: /etc/elasticsearch/elasticsearch.yml
    owner: root
    group: elasticsearch
    mode: '640'
  notify: Restart elasticsearch