- name: Create directory for httplua
  ansible.builtin.file:
    path: /usr/local/openresty/nginx/conf/lua/
    owner: root
    group: root
    mode: '0775'
    state: directory
  when: enable_httplua

- name: Create directory for httplua for validation
  ansible.builtin.file:
    path: /home/{{ openresty_config_owner }}/openresty-tmp/lua/
    owner: "{{ openresty_config_owner }}"
    mode: '0774'
    state: directory
  when: enable_httplua

- name: Install http-resty module
  ansible.builtin.shell:
    cmd: |
      /usr/local/openresty/bin/opm get ledgetech/lua-resty-http
  args:
    creates: /usr/local/openresty/site/lualib/resty/http.lua
  when: enable_httplua 