- name: Add openresty repository into sources list
  ansible.builtin.apt_repository:
    repo: "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/openresty.gpg] http://openresty.org/package/ubuntu $(lsb_release -sc) main"
    filename: openresty
    state: present