- name: Add OpenResty repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/openresty.gpg] http://openresty.org/package/ubuntu {{ ansible_lsb.codename }} main"
    state: present
    filename: openresty
  register: openresty_repo

- name: Update apt cache if repo changed
  ansible.builtin.apt:
    update_cache: yes
  when: openresty_repo.changed