name: Validate and Run Ansible playbooks

on:
  workflow_dispatch:
    inputs:
      ANSIBLE_COMMAND:
        required: true
        description: "Dry run or Apply ansible playbooks"
        type: choice
        options:
          - dry_run
          - run

      PLAYBOOK_PATH:
        required: true
        description: "Which playbook to run"
        type: choice
        options:
          - ./playbooks/elasticsearch/elasticsearch.yaml
          - ./playbooks/kibana/kibana.yaml
          - ./playbooks/grafana/grafana.yaml
          - ./playbooks/openresty/openresty.yaml
          - ./playbooks/certbot/certbot.yaml

      REQUIREMENTS_FILE_PATH:
        required: false
        description: "Requirements file"
        type: choice
        options:
          - ''
          - ./playbooks/elasticsearch/requirements.yaml
          - ./playbooks/kibana/requirements.yaml
          - ./playbooks/grafana/requirements.yaml
          - ./playbooks/openresty/requirements.yaml
          - ./playbooks/certbot/requirements.yaml
        default: ''

      ANSIBLE_GALAXY_COLLECTIONS_PATH:
        required: false
        type: string
        default: ./collections

      ANSIBLE_GALAXY_ROLES_PATH:
        required: false
        type: string
        default: ./roles


jobs:
  deploy:
    uses: robot-shop-DevOps/robot-shop-github-actions/.github/workflows/ansible-playbooks.yaml@main
    with:
      WORKING_DIR: ./
      INVENTORY_DIR: ./inventories/dev
      PLAYBOOK_PATH: ${{ github.event.inputs.PLAYBOOK_PATH }}
      ANSIBLE_COMMAND: ${{ github.event.inputs.ANSIBLE_COMMAND }}
      REQUIREMENTS_FILE_PATH: ${{ github.event.inputs.REQUIREMENTS_FILE_PATH }}
      ANSIBLE_GALAXY_COLLECTIONS_PATH: ${{ github.event.inputs.ANSIBLE_GALAXY_COLLECTIONS_PATH }}
      ANSIBLE_GALAXY_ROLES_PATH: ${{ github.event.inputs.ANSIBLE_GALAXY_ROLES_PATH }}