name: Validate and Run Ansible playbooks

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        required: true
        type: choice
        options:
          - dev
          - prod

      ANSIBLE_COMMAND:
        required: true
        description: "Dry run or Apply ansible playbooks"
        type: choice
        options:
          - dry_run
          - run

      PLAYBOOK:
        required: true
        description: "Which playbook to run"
        type: choice
        options:
          - elasticsearch
          - kibana
          - grafana
          - openresty
          - certbot

jobs:
  deploy:
    uses: robot-shop-DevOps/robot-shop-github-actions/.github/workflows/ansible-playbooks.yaml@main
    with:
      ENVIRONMENT: ${{ github.event.inputs.ENVIRONMENT }}
      ANSIBLE_COMMAND: ${{ github.event.inputs.ANSIBLE_COMMAND }}
      PLAYBOOK: ${{ github.event.inputs.PLAYBOOK }}